
body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--header-menu--*/
button#showRightPush {
	background: none;
	border: none;
	color: #ffffff;
	
}
button#showRightPush img {
	padding-left: 8px;
}

/*--header--*/
.logo {
  float: left;
}
.top-nav{
	float:right;
	margin-top: 15px;
}
.top-header{
margin-top:50px;
}
.right_bt span{
	width: 37px;
    height: 25px;
	display: block;
	background: url(../images/menu.png) no-repeat 0px 0px;
}
.box{
	position:absolute;
	top:-1200px;
	width:100%;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background:rgba(0, 0, 0, 0.22);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 19px;
	right: 290px;
 }
 #activator {
}
.menu_box_list{
	display: inline-block;
	padding:30px 0;
}
.menu_box_list ul li {
	display:inline-block;
	  margin: 0 10px;
}
.menu_box_list li a{
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font-weight: 600;
}
.menu_box_list li a:hover{
	color:#000000;
	text-decoration: none;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
}
.boxclose span{
	width:58px;
	height:73px;
	display:inline-block;
	background: url(../images/into.png) no-repeat 0px 0px;
}
/*--/header--*/
/*--banner--*/
.banner{
	background: url(../images/startup-593327_1920.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	min-height:750px;
}
.banner-info{
width:85%;
margin: 141px auto 0 auto;
}
.banner-right h1{
font-size:34px;
font-weight:800;
color:#ffffff;
margin:35px 0 15px 0;
letter-spacing: 15px;
}
.banner-right h2{
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  margin: 15px 0 45px 0;
}
.banner-right a{
text-decoration:none;
color:#ffffff;
font-size:16px;
font-weight:500;
padding:16px 20px;
border:2px solid #fff;
}
.banner-right a:hover{
border:2px solid #000;
}
.banner-left{
float:left;
}
.banner-right{
float:right;
}
.border {
  background: #52edc7;
  width: 70%;
  margin: 0 auto;
  padding: 1px;
}
/*--//banner--*/
/*--about--*/
.about{
padding:60px 0 25px 0;
}
.about h3{
margin:0;
color:#2b2b2b;
font-size:36px;
font-weight:500;
letter-spacing: 18px;
}
.strip{
  margin: 28px 0 0px 0;
}
.about p{
margin:45px 0 0 0;
color:#888b90;
font-size:18px;
font-family: 'Lato', sans-serif;
line-height:1.8em;
}
.about ul{
padding:0;
margin:45px 0 0 0;
}
.about ul li{
list-style-type:none;
display:inline-block;
margin-right:25px;
}

.about ul li a.fb{
background: url(../images/icons.png) no-repeat 0px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.twit{
background: url(../images/icons.png) no-repeat -99px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.in{
background: url(../images/icons.png) no-repeat -199px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.git{
background: url(../images/icons.png) no-repeat -299px 0px;
width:72px;
height:72px;
display:block;
}
.about ul li a.stack{
background: url(../images/icons.png) no-repeat -399px 0px;
width:72px;
height:72px;
display:block;
}

/*--//about--*/
/*--my skill--*/
.my-skills{
	background: #1abc9c;
	padding: 60px 0;
}
.my-skills h3{
margin:0;
color:#ffffff;
font-size:36px;
font-weight:500;
letter-spacing: 18px;
}
.skill-grids{
margin-top:50px;
}
.skills-grid p{
margin:20px 0 0 0;
color:#ffffff;
font-size:16px;
font-weight:600;
text-transform:uppercase;
}
.circle{
color:#ffffff;
font-size:36px;
}
span.circles-number {
  font-size: 36px;
}
span.circles-text {
  font-size: 36px;
}
.circles-text-wrp {
  line-height: 142px !important;
}
/*--//my skill--*/
/*--education--*/
.education{
padding:60px 0;
background:#eeeeee;
}
.edu-info h3{
margin:0;
color:#2b2b2b;
font-size:36px;
font-weight:500;
letter-spacing: 18px;
}

.edu-grid p{
margin:0px auto;
color:#ffffff;
font-size:18px;
font-family: 'Lato', sans-serif;
background:#52edc7;
width: 36%;
padding: 3px 0;
}
.edu-grid span{
margin:0px auto;
display:block;
color:#ffffff;
font-size:18px;
font-family: 'Lato', sans-serif;
background:#4ad7b4;
width: 36%;
padding: 3px 0;
}
.edu-grid-master{

background:#52edc7;
padding: 15px 0;
}
.edu-grid-master h3{
font-family: 'Lato', sans-serif;
margin:0;
font-size:18px;
color:#4a4a4a;
font-weight:700;
line-height:1.8em;
}
.edu-grid-master h4{
font-family: 'Lato', sans-serif;
margin:10px 0 0 0;
font-size:18px;
color:#ffffff;
font-weight: 600;
}
.edu-grid-info{
background:#ffffff;
padding: 25px 30px;
}
.edu-grid-info h5{
font-family: 'Lato', sans-serif;
line-height:1.8em;
margin:0;
font-size:18px;
color:#888b90;
font-weight:300;
}
.edu-border{
border:1px solid #e2e2e2;
margin-top:50px;
border-radius: 6px;
border-bottom: 2px solid #c3c3c3;
}
.edu-grids {
  margin-top: 50px;
}
.edu-grid{
position:relative;
}
.edu-grid img{
position:absolute;
top: 25%;
left: 40%;
}
/*--//education--*/
/*--work--*/
.work-info h3{
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.work-experience{
  padding: 60px 0;
  background: #eeeeee;
}
.work-grids {
  margin-top: 50px;
}
.work-grid h3{
margin:0;
color:#ffffff;
background:#52edc7;
padding: 9px 0;
font-size: 18px;
font-weight: 600;
}
.work-grid-info {
background:#ffffff;
padding: 20px 18px;
}
.work-grid-info h4{
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 22px;
  color: #4a4a4a;
  font-weight: 700;
}
.work-grid-info h5{
  font-family: 'Lato', sans-serif;
  margin: 12px 0 25px 0;
  font-size: 18px;
  color: #c1c1c1;
  font-weight: 500;
}
.work-grid-info p{
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 18px;
  color: #888b90;
  font-weight: 300;
}
.work-grid{
border:1px solid #e2e2e2;
border-radius: 6px;
border-bottom: 2px solid #c3c3c3;
}
/*--//work--*/
/*--services--*/
.services{
  padding: 60px 0;
}
.ser-info h3{
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.ser-grids{
margin-top:50px;
}
.ser-imagea{
background: url(../images/icons.png) no-repeat -1px -339px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-imageb{
background: url(../images/icons.png) no-repeat -390px -150px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-imagec{
background: url(../images/icons.png) no-repeat -195px -149px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-imaged{
background: url(../images/icons.png) no-repeat -1px -143px;
width:190px;
height:190px;
display:block;
margin:0 auto;
}
.ser-grid h3{
margin:25px 0;
color:#2b2b2b;
font-size:24px;
font-family: 'Lato', sans-serif;
font-weight:700;
}
.ser-grid p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 18px;
  color: #888b90;
  font-weight: 300;
}

/*--//services--*/
/*--portfolio--*/
.gallery-section{
background: url(../images/port-back.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	min-height:2000px;
    padding: 140px 0 0px 0;
}
#portfolio p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}
.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 0;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
-webkit-transform: scale(0);
transform: scale(0);
background-color:rgba(82, 237, 199, 0.5);
}
.gallery1:hover .textbox {
-webkit-transform: scale(1);
transform: scale(1);
}
.gallery-grid img{
width:100%;
}

.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
.textbox h4 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #fff;
  margin-top: 115px;
}
.textbox p {
  font-size: 12px !important;
  color: #fff;
  font-weight:500 !important;
  margin:6px 0 0 0!important;
}
.gallery-grids {
  margin-top: 50px;
}
.button:hover{
 border: 2px solid #000;
}
.button {
  border: 2px solid #fff;
  padding: 10px;
  width: 34%;
  cursor:pointer;
  text-align:center;
  margin: 20px auto 0 auto;
}
.button a {
display:block;
color:#fff;
font-family: 'Lato', sans-serif;
font-size:18px;
font-weight:700;
}
/*--//portfolio--*/
/*--process--*/
.process{
background:#52edc7;
  padding: 30px 0 65px 0;
}
.process-gird{
background:#fff;
border-radius:70%;
width:100%;
  height: 141px;
  padding: 16px 0 0 0;
}
.process h3 {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.process-imagea{
background: url(../images/icons.png) no-repeat -506px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imageb{
background: url(../images/icons.png) no-repeat -206px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imagec{
background: url(../images/icons.png) no-repeat -264px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imaged{
background: url(../images/icons.png) no-repeat -317px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imagee{
background: url(../images/icons.png) no-repeat -383px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-imagef{
background: url(../images/icons.png) no-repeat -461px -369px;
width:50px;
height:50px;
display:block;
margin:0 auto;
}
.process-gird p{
color:#2b2b2b;
font-family: 'Lato', sans-serif;
font-size:18px;
font-weight:700;
margin:14px 0 0 0;
}
.process-girds {
  margin-top: 50px;
}
.process-gird {
position:relative;
}
.process-gird  img{
position:absolute;
  top: 42%;
  left: 109.5%;
}
.process-pad{
padding:0 25px;

}
/*--//process--*/
.test-banner {
  background: #ffffff;
  border-top: 15px solid #52edc7;
  width: 54%;
  margin: 50px auto 0 auto;
  padding: 82px 45px;
}
.testimonials{
background:#eeeeee;
padding:60px 0;
}
.testimonials h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
  text-align:center;
}
.test-left img{
width:100%;
}
.test-left{
float:left;
  width: 40%;
}
.test-right{
float:right;
  width: 52%;
}
.test-right p{
margin:25px 0 38px 0;
font-size:16px;
color:#4a4a4a;
line-height:1.8em;
font-family: 'Lato', sans-serif;
font-weight:600;
font-style:italic;
}
.test-right h4{
margin:0;
font-size:16px;
color:#888b90;
font-family: 'Lato', sans-serif;
font-weight:400;
}
.test-banner{
position:relative;
}
.test-banner img.quoa{
position:absolute;
top:14%;
left:45%;
}
.test-banner img.quo{
position:absolute;
top:77%;
left:45%;
}
/*--//process--*/
/*-- Slider Part starts Here --*/
#slider3,#slider4  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 66%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 28px;
	width: 20px;

	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
a.callbacks_nav.callbacks1_nav.prev {
	background: transparent url("../images/themes.png") no-repeat 0px 0px;
  left: 13%;
}
.callbacks_nav.next {
	background: transparent url("../images/themes.png") no-repeat -20px 0px;
  left: 84%;
}
#slider3-pager a,#slider4-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span{
  float: left;
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a {
  padding: 0;
}
#slider3-pager li, #slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}

.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 73%;
	z-index: 999;
	left: 46%;
	padding: 0;
	margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
top: 73%;
left:46%;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}

.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:14px;
  width:14px;
  display:inline-block;
  background: #ffffff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	background: #99cc33;	
}
a.callbacks_nav.callbacks2_nav.prev {
background: transparent url("../images/2.png") no-repeat left top;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.next{
background: transparent url("../images/2.png") no-repeat -29px 0px;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.prev {
left: 86% !important;
top: 9%;
}
a.callbacks_nav.callbacks2_nav.next {
right: 0% !important;
top: 9%;
}
/*-- Slider part Ends Here --*/

/*-- blog --*/
.blog{
padding:60px 0;

}
.blog-info h3{
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.blog-grids{
margin-top:50px;
}
.blog-grid{
border:1px solid #dedede;
border-radius:4px;
}
.blog-grid img{
width:100%;
}
.blog-text{
padding: 60px 20px 25px 20px;
}
.blog-grid a{
text-decoration:none;
font-size:20px;
color:#2b2b2b;
font-family: 'Lato', sans-serif;
font-weight:700;
}
.blog-grid a:hover{
color :#52edc7;
}
.stripa{
background:#dedede;
width:30%;
height:1px;
margin:15px 0;
}
.blog-grid p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 16px;
  color: #888b90;
  font-weight: 300;
}
.blog-grid ul{
padding: 7px 20px;
margin:0;
border-top:1px solid #dedede;
}
.blog-grid ul li{
list-style-type:none;
display:inline-block;
padding-right:20px;
}
.blog-grid ul li a{
color:#888b90;
font-size:12px;
font-weight:700;
}
.blog-grid ul li:nth-child(2){
border-left:1px solid #888b90;
padding-left:20px;
}
.blog-text-info:nth-child(1),.blog-text-info:nth-child(2),.blog-text-info:nth-child(3){
margin-bottom:30px;
}
.blog-pos p{
color:#fff;
font-size:24px;
margin:0;
text-align:center;
font-weight:700;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.blog-pos p span{
font-size:16px;
display:block;
font-weight:400;
margin: -19px 0 0 0;
}
.blog-text-info{
position:relative;
}
.blog-pos{
  position: absolute;
  top: 42%;
  left: 14%;
  width: 17.5%;
  background: #52edc7;
  transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
}
/*-- blog --*/

/*-- contact --*/
.contact{
background:#52edc7;
padding:60px 0 0 0;
}
.contact-info h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
  }
.contact-grids{
margin-top:50px;
}
.contact-grids h3 {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 25px 0;
  }
.stripb{
background:#2b2b2b;
width:30%;
height:1px;
margin: 0 0 40px 0;
}
.contact-left ul{
margin: 0px 0 0 0;
padding:0;
}
.contact-left ul li{
list-style-type:none;
font-size:18px;
color:#2b2b2b;
font-weight:500;
line-height:1.8em;
font-family: 'Lato', sans-serif;
}
.contact-left ul li a{
text-decoration:none;
color:#2b2b2b;
}
.contact-left ul li a:hover{
color:#ffffff;
}
.contact-left ul li:nth-child(4) {
font-size:20px;
  margin: 30px 0;
  font-weight: 800;
}
.contact-left ul li:nth-child(6) {
  margin: 30px 0 0 0;
  font-weight: 800;
}
.contact-right input[type="text"]:hover,.contact-right textarea:hover {
border:3px solid #40c4a4;
}
.contact-right input[type="text"] {
border:3px solid transparent;
border-radius:2px;
font-family: 'Lato', sans-serif;
	width: 47.65%;
	outline: none;
	padding: 14px;
	font-size: 18px;
	font-weight:300;
	color: #c9c9cb;
	margin: 0 24px 24px 0;
}
.contact-right textarea {
border:3px solid transparent;
border-radius:2px;
font-family: 'Lato', sans-serif;
	width: 100%;
	height: 200px;
	outline: none;
	font-weight:300;
	font-size: 18px;
	color: #c9c9cb;
	resize: none;
	padding: 14px;
	margin-bottom: 24px;
}
.contact-right input[type="text"]:nth-child(2),.coment-form input[type="text"]:nth-child(2){
margin-right:0;
}
.contact-right form input[type="submit"] {
color:#2b2b2b;
font-family: 'Lato', sans-serif;
  background: url(../images/mess.png) no-repeat 81px 14px;
  width: 49%;
  border-radius: 4px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  padding: 0;
  border: 3px solid #2b2b2b;
}
.contact-right form input[type="submit"]:hover {
 border: 3px solid #ffffff;
}
.resume{
background:#eeeeee;
padding:32px 0 60px 0;
}
.resume a{
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  background: #f1c40f;
  padding: 16px 30px;
  border-radius:4px;
  border-bottom:2px solid #b8950a;
}
.resume a:hover{
color:#fff;
}
.down{
  margin-top: 50px;
}
/*-- contact --*/
/*-- footer --*/
.footer{
background:#888b90;
padding:40px 0;
}
.footer p{
text-align:center;
font-family: 'Lato', sans-serif;
margin:0 0 0px 0;
font-size:18px;
color:#ffffff;
font-weight:400;
}
.footer p a{
color:#52edc7;
}
.footer p a:hover{
color:#ffffff;
}
/*-- //footer --*/
.footer-top{
	background:url(../images/footer.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:188px;
}
.contact-back{
	background:url(../images/con-t.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:85px;
}
.client-back{
background: url(../images/clien-b.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:99px;
}
.process-back{
background: url(../images/pro-b.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:93px;
}
.services-back{
background: url(../images/work-b.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:93px;
}
.my-skill-back{
background: url(../images/myskill-b.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:93px;
}
.about-back{
background: url(../images/about-b.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:102px;
}
.strip-border{
background:#eeeeee;
}
.strip-border p{
margin:0;
width:15%;
margin:0 auto;
height:2px;
background:#dcdcdf;
}



div.transbox
{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); 
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}